.heading {
  color: white;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  background-image: url("food.jpg");
  background-size: cover;
  background-position: 0 -160px;
  height: 130px;
  margin-top: 0px;
  padding-top: 20px;
}

.calculator-heading {
  font-weight: lighter;
  margin-bottom: 30px;
}

.intro-question {
  font-weight: lighter;
}

#dropdownMenuButton:hover {
  background-color: #d6d6d6;
}

.dropdown {
  width: 200px;
}

.select-food-dropdown {
  margin-bottom: 20px;
  button {
    font-weight: lighter;
  }
}

.select-fruit-dropdown {
  margin-bottom: 20px;
  display: none;
  button {
    font-weight: lighter;
  }
}

.select-dairy-dropdown {
  margin-bottom: 20px;
  display: none;
  button {
    font-weight: lighter;
  }
}

.select-btn {
  background-color: white;
  border: none;
  text-align: left;
  width: 100%;
}

.select-btn:hover {
  background-color: #efefef;
}

.nutrition-facts {
  padding-top: 85px;
}

.nutrition-table {
  width: 100%;
  display: none;
  th {
    font-weight: normal;
  }
  td {
    font-size: 16px;
    font-weight: lighter;
  }
}

.visible {
  display: block;
}

.indented {
  padding-left: 15px;
}

.nutrition-heading {
  background-color: #e4c6b4;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
