.banner {
 background-image: linear-gradient(rgba(109, 88, 56, 0.35), rgba(109, 88, 56, 0.35)), url("food.jpg");
 background-size: cover;
 background-position: 0 -160px;
 height: 255px;
 top: 0;
 width: 100%;
 padding: 30px;
}
#intro {
  color: white;
  font-weight: 300;
  font-size: 30px;
  margin: 30px 0px;
  text-align: center;
}
#start-btn {
  padding: 10px 20px;
  margin-left: 38%;
  margin-top: 40px;
  border: none;
  font-size: 22px;
}
#start-btn:hover {
  background-color: #008c85;
}
.section-heading {
  font-weight: 300;
  font-size: 30px;
  margin: 0px 0px 30px 0px;
  text-align: center;
}
#intro-explanation {
  margin: 10px 20px;
  display: flex;
  justify-content: space-around;
}
.explain-item {
  color: #656565;
  margin: 50px 20px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: lighter;
  text-align: center;
}
.explain-icon {
  margin-bottom: 10px;
}
