.nutrition-heading {
  // background-color: #e4c6b4;
  padding: 5px;
  font-size: 38px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  margin-bottom: 30px;
}
.one-nutrition-table {
  width: 100%;
  th {
    padding: 0px 10px;
    font-weight: normal;
    min-width: 100px;
  }
  .first-column {
    min-width: 150px;
  }
  td {
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
    border-bottom: solid 1px #d0c3af;
    padding: 0px 10px;
  }
  th:not(.first-column), td:not(.first-column) {
    text-align: center;
  }
  .secondary-nutrition {
    color: dimgrey;
    .indented {
      padding-left: 15px;
    }
  }
}
@media (max-width: 650px) {
  .nutrition-heading {
    font-size: 30px;
  }
  .scrollable {
    overflow-x: auto;
    .one-nutrition-table th, td {
      font-size: 14px;
    }
  }
  .scrollable::-webkit-scrollbar {
    height: 8px;
  }
  .scrollable::-webkit-scrollbar-track {
    background-color: #f1ebe4;
    -webkit-border-radius: 10px;
    border-radius: 2px;
  }
  .scrollable::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #B8AB9C;
  }
}
