.fixed-navbar {
  background-image: linear-gradient(rgba(109, 88, 56, 0.25), rgba(109, 88, 56, 0.25)), url("food.jpg");
  background-size: cover;
  background-position: 0 -160px;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.15s ease-in-out;
  z-index: 2;
  .nutrition-brand {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 400;
    color: white !important;
    margin-left: -9px !important;
  }
}
.nav-up {
  top: -70px;
}
