<h1 class="heading">Nutrition Calculator</h1>
<div class="container">
  <div class="row">

    <div class="col-sm-7">
      <h2 class="calculator-heading">Calculating your daily nutrition</h2>
      <p class="intro-question">What did you eat?</p>

      <div class="dropdown select-food-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Food Type
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
          <li>
            <button class="fruit-select">Fruits</button>
          </li>
          <li>
            <a href="#" class="diary-select">Diary</a>
          </li>
        </ul>
      </div>

      <div class="dropdown select-fruit-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Fruit Type
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
          <li>
            <a href="">Medium sized Apple</a>
          </li>
          <li>
            <a href="">About 100 g of Apple</a>
          </li>
        </ul>
      </div>

    </div>


    <div class="col-sm-5 nutrition-facts">
      <h4 class="nutrition-heading">Nutrition Facts - 100 g Apple</h4>

      <table class="nutrition-table">
        <tr>
          <th>Nutrient</th>
          <th>Amount</th>
          <th>% Daily Value</th>
        </tr>
        <tr>
          <td>Calories</td>
          <td>52</td>
        </tr>
        <tr>
          <td>Protein</td>
          <td>0.3 g</td>
        </tr>
        <tr>
          <td>Carbs</td>
          <td>13.8 g</td>
        </tr>
        <tr>
          <td class="indented">Sugar</td>
          <td>10.4 g</td>
        </tr>
        <tr>
          <td class="indented">Fiber</td>
          <td>2.4 g</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td>0.2 g</td>
        </tr>
        <tr>
          <td class="indented">Saturated</td>
          <td>0.03 g</td>
        </tr>
        <tr>
          <td class="indented">Monounsaturated</td>
          <td>0.01 g</td>
        </tr>
        <tr>
          <td class="indented">Polyunsaturated</td>
          <td>0.05 g</td>
        </tr>
        <tr>
          <td class="indented">Omega-3</td>
          <td>0.01 g</td>
        </tr>
        <tr>
          <td class="indented">Omega-6</td>
          <td>0.04 g</td>
        </tr>
        <tr>
          <td class="indented">Trans fat</td>
          <td>0 g</td>
        </tr>
      </table>

      <h4 class="nutrition-heading">Nutrition Facts - Milk, 3.25% fat - 100 grams</h4>

      <table class="nutrition-table">
        <tr>
          <th>Nutrient</th>
          <th>Amount</th>
          <th>% Daily Value</th>
        </tr>
        <tr>
          <td>Calories</td>
          <td>61</td>
        </tr>
        <tr>
          <td>Protein</td>
          <td>3.2 g</td>
        </tr>
        <tr>
          <td>Carbs</td>
          <td>4.8 g</td>
        </tr>
        <tr>
          <td class="indented">Sugar</td>
          <td>5.1 g</td>
        </tr>
        <tr>
          <td class="indented">Fiber</td>
          <td>0 g</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td>3.3 g</td>
        </tr>
        <tr>
          <td class="indented">Saturated</td>
          <td>1.87 g</td>
        </tr>
        <tr>
          <td class="indented">Monounsaturated</td>
          <td>0.81 g</td>
        </tr>
        <tr>
          <td class="indented">Polyunsaturated</td>
          <td>0.2 g</td>
        </tr>
        <tr>
          <td class="indented">Omega-3</td>
          <td>0.08 g</td>
        </tr>
        <tr>
          <td class="indented">Omega-6</td>
          <td>0.12 g</td>
        </tr>
        <tr>
          <td class="indented">Trans fat</td>
          <td> </td>
        </tr>
      </table>

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.fruit-select').click(function() {
      $('.select-fruit-dropdown').addClass('visible');
    });
  });
</script>

