<div class="container">
  <div class="content-wrapper">
    <div class="row">

      <div class="col-xs-12 col-sm-7">

        <h2 class="calculator-heading">Calculating your daily nutrition</h2>

        <p class="intro-question">What did you eat?</p>

        <div class="dropdown select-food-dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Food Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
            <li>
              <button class="select-btn fruit-select">Fruits</button>
            </li>
            <li>
              <button class="select-btn dairy-select">Dairy</button>
            </li>
          </ul>
        </div>

        <div class="dropdown select-fruit-dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Fruit Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
            <li>
              <button class="select-btn one-select"><span class="apple">Medium sized Apple</span></button>

            </li>
            <li>
              <button class="select-btn one-select"><span class="apple-100">About 100 g of Apple</span></button>
            </li>
          </ul>
        </div>

        <div class="dropdown select-dairy-dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Dairy Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
            <li>
              <%= link_to "Glass of milk", calculate_path(item: "milk-100"), remote: true%>
            </li>
            <li>
              <%= link_to "About 100g of milk", calculate_path(item: "milk-100") , remote: true%>
            </li>
          </ul>
        </div>

        <div class="container-selected-food"><span class="placeholder-selected-food">Add food you ate by selecting it above</span></div>

      </div>

      <div class="col-xs-12 col-sm-5">
        <div id="result-partial">

        <% if @selected %>
         <%= render partial: 'nutrition-calculation', locals: { selected: @selected } %>
        <% end %>
        </div>
      </div>

        <!--       <div class="col-sm-5 nutrition-facts">


      </div> -->
    </div>
  </div>
</div>
