<div class="container">
  <h1>Nutrition Calculator</h1>
  <div class="row">
    <div class="col-sm-8">
      <h2>Calculating your daily nutrition</h2>
      <p>What did you eat?</p>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Food
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
          <li>
            <a href="">Apple</a>
          </li>
          <li>
            <a href="">Action</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
