<div class="banner">

  <h5 id="intro">Find out if you take in enough nutrition with your food!</h5>
  <a id="start-btn" class="btn btn-primary" href="/nutrition-calculation">Start Tracking Nutrition!</a>
</div>
<div class="container landing-container">

  <h5 class="section-heading">How it works</h5>
  <div id="more-info-btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
  <div class="intro-explanation-wrapper">
    <div id="intro-explanation">

      <span class="explain-item">
        <i class="fa fa-cutlery fa-4x explain-icon" aria-hidden="true"></i>
        <p>Enter any food you ate during the day to see the amount of nutrition contained.</p>
      </span>
      <span class="explain-item">
        <i class="fa fa-calculator fa-4x explain-icon" aria-hidden="true"></i>
        <p>Let the Nutrition Calculator tell you how many nutritions you have taken in.</p>
      </span>
      <span class="explain-item">
        <i class="fa fa-area-chart fa-4x explain-icon" aria-hidden="true"></i>
        <p>Track your nutrition take in over time. <br>(soon to come)</p>
      </span>

    </div>
  </div>
</div>
